extends layout
block content
    h1= title
    div
        table
            thead
                tr: th This is the list
            tbody
                each ww, i in workers
                    tr
                        td
                            a(href='/wines/' + ww._id) #{ww.name}